<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="<%= static_path(@conn, "/css/font-awesome.min.css") %>" rel="stylesheet">

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <title>IoT Dashboard</title>
    <link href="<%= static_path(@conn, "/css/bootstrap.min.css") %>" rel="stylesheet">
    <link href="<%= static_path(@conn, "/css/datepicker3.css") %>" rel="stylesheet">
    <link href="<%= static_path(@conn, "/css/styles.css") %>" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dashboard">
            <span>IoT</span>Dashboard
          </a>
          <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
              <em class="fa fa-bell"></em><span class="label label-info">5</span>
              </a>
              <ul class="dropdown-menu dropdown-alerts">
                <li>
                  <a href="#">
                    <div>
                      <em class="fa fa-envelope"></em> 1 New Message
                      <span class="pull-right text-muted small">3 mins ago</span>
                    </div>  
                  </a>
                </li>
                <li class="divider">
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
      <div class="profile-sidebar">
        <div class="profile-userpic">
          <img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">Username</div>
          <div class="profile-usertitle-status">
            <span class="indicator label-success"></span>Online
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="divider"></div>
      <ul class="nav menu">
        <li class="active">
          <a href="/dashboard">
            <em class="fa fa-home">&nbsp;</em> Painel Principal
          </a>
        </li>
        <li>
          <a href="/dashboard/sensores">
            <em class="fa fa-dashboard">&nbsp;</em> Sensores
          </a>
        </li>
        <li class="parent ">
          <a data-toggle="collapse" href="#sub-item-1">
            <em class="fa fa-navicon">&nbsp;</em> Admin 
            <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right">
              <em class="fa fa-plus"></em>
            </span>
          </a>
          <ul class="children collapse" id="sub-item-1">
          <li>
            <a class="" href="/dashboard/admin/usuarios">
              <span class="fa fa-arrow-right">&nbsp;</span> Usuarios
            </a>
          </li>
          <li>
            <a class="" href="/dashboard/admin/sensores">
              <span class="fa fa-arrow-right">&nbsp;</span> Sensores
            </a>
          </li>
          <li>
            <a class="" href="#">
              <span class="fa fa-arrow-right">&nbsp;</span> Sistema
            </a>
          </li>
          <li>
            <a href="/admin/politicas">
              <span class="fa fa-info-circle">&nbsp;</span> Politicas
            </a> 
          </ul>
        </li>
        <li>
          <a href="/logout">
            <em class="fa fa-power-off">&nbsp;</em> Logout
          </a>
        </li>
      </ul>
    <div class=row>
      <div class="col-sm-12">
        <p class="back-link">Lumino Theme by <a href="https://www.medialoot.com">Medialoot</a></p>
      </div>
    </div>
    <div class=row>
      <div class="col-sm-12">
        <p class="back-link">Made with ❤️️ by <a href="https://www.github.com/supitto">Supitto</a></p>
      </div>
    </div>
    </div><!--/.sidebar-->
      
    <%= render @view_module, @view_template, assigns %>
    <p class="alert alert-info" style="float:left" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" style="float:left" role="alert"><%= get_flash(@conn, :error) %></p>
    <script src="<%= static_path(@conn, "/js/jquery-1.11.1.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
